---
import { STRAPI_URL } from "src/constains";
import { formatDate } from "src/utils/date-format";

const { article } = Astro.props;
const lang = Astro.currentLocale || 'en';
---
<article class="flex max-w-xl flex-col items-start">
  <div class="flex items-center gap-x-4 text-sm mb-1 w-full justify-between">
    <time datetime={article.createdAt} class="text-gray-500">{formatDate(article.createdAt)}</time>
    {article.category && (
      <a href="#" class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">{article.category.name}</a>
    )}
  </div>
  <div class="group relative w-full">
    {article.cover?.url && (
      <a href={`/${lang}/blog/${article.slug}`} class="block article-image overflow-hidden h-[200px] relative"><img class="absolute w-full h-full object-cover max-w-none hover:scale-110 transition-transform" src={STRAPI_URL + article.cover.url} alt="" /></a>
    )}
    <h3 class="mt-3 text-lg/6 font-semibold text-gray-900 group-hover:text-gray-600">
      <a href={`/${lang}/blog/${article.slug}`}>{article.title}</a>
    </h3>
    <p class="mt-5 line-clamp-3 text-sm/6 text-gray-600">{article.description}</p>
  </div>
</article>