---
import '../../../styles/global.css';
import { fetchStrapiGraphQL } from '../../../lib/strapi';
import Default from '@layouts/Default.astro';
import Header from '@components/Header.astro';
import Sidebar from '@components/blog/Sidebar.astro';
import Footer from '@components/Footer.astro';
import { GET_ARTICLES } from '../../../queries/blog';
import type { Article, ArticleResponse } from 'src/interfaces/blog';
import type { Locale, LocaleResponse } from 'src/interfaces/locale';
import { STRAPI_URL } from 'src/constains';

const lang = Astro.currentLocale;

export const getStaticPaths = (async () => {
  const GET_LOCALES = `query I18NLocales {
    i18NLocales {
      code
    }
  }`;
  const locales = await fetchStrapiGraphQL<LocaleResponse>({
    query: GET_LOCALES,
  });
  if (locales.i18NLocales) {
    return locales.i18NLocales.map(( locale: Locale ) => ({
      params: {lang: locale.code}
    }));
  }
  return [];
});

const { articles } = await fetchStrapiGraphQL<ArticleResponse>({
  query: GET_ARTICLES,
  variables: {
    locale: lang,
    sort: 'createdAt:desc'
  }
});

const formatDate = (dateString: string) => {
  const months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
  if (dateString) {
    const date = Date.parse(dateString);
    const dateObj = new Date(date);
    const day = dateObj.getDate() > 9 ? dateObj.getDate() : ('0' + dateObj.getDate());
    return `${day} ${months[dateObj.getMonth()]}, ${dateObj.getFullYear()}`;
  }
  return '';
}
---

<Default>
  <Header />
  <div class="container mx-auto my-10">
    <div class="grid grid-cols-4 gap-4">
      <aside class="col-span-1 px-3">
        <Sidebar content="" />
      </aside>
      <div class="col-span-3 px-3">
        <div class="bg-white">
          <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-2xl lg:mx-0">
              <h2 class="text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl">From the blog</h2>
              <p class="mt-2 text-lg/8 text-gray-600">Learn how to grow your business with our expert advice.</p>
            </div>
            <div class="mx-auto mt-5 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-6 border-t border-gray-200 pt-6 lg:mx-0 lg:max-w-none lg:grid-cols-3">
            {
              articles.map((article: Article) => (
                <article class="flex max-w-xl flex-col items-start">
                  <div class="flex items-center gap-x-4 text-sm mb-1 w-full justify-between">
                    <time datetime={article.createdAt} class="text-gray-500">{formatDate(article.createdAt)}</time>
                    {article.category && (
                      <a href="#" class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">{article.category.name}</a>
                    )}
                  </div>
                  <div class="group relative w-full">
                    {article.cover?.url && (
                      <figure class="article-image"><img src={STRAPI_URL + article.cover.url} alt="" /></figure>
                    )}
                    <h3 class="mt-3 text-lg/6 font-semibold text-gray-900 group-hover:text-gray-600">
                      <a href={`/${lang}/blog/${article.slug}`}>
                        <span class="absolute inset-0"></span>
                        {article.title}
                      </a>
                    </h3>
                    <p class="mt-5 line-clamp-3 text-sm/6 text-gray-600">{article.description}</p>
                  </div>
                </article>
              ))
            }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <Footer />
</Default>
<style>
  .article-image {
    height: 190px;
    overflow: hidden;
    position: relative;
  }
  .article-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>